<!--File name: details.ejs
Author: Zeenath Razak
Date: October 27, 2022
modules required for routing
--------------------------------------->
<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="FacultyidTextField">Faculty ID</label>
            <input
              type="number"
              class="form-control"
              id="FacultyidTextField"
              placeholder="Enter the Faculty ID"
              name="Facultyid"
              value="<%= faculties.Facultyid %>"
              required
          />
        </div>

        <div class="form-group">
          <label for="NameTextField">Faculty Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Enter the Faculty Name:"
            name="Facultyname"
            value="<%= faculties.Facultyname %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="DeptTextField">Department</label>
            <input
              type="text"
              class="form-control"
              id="DepartmenttTextField"
              placeholder="Enter the Department:"
              name="Department"
              value="<%= faculties.Department %>"
              required
          />
        </div>

        <div class="form-group">
          <label for="SubTextField">Subject</label>
            <input
              type="text"
              class="form-control"
              id="SubjectTextField"
              placeholder="Enter the Subject:"
              name="Subject"
              value="<%= faculties.Subject%>"
              required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Edit
        </button>
        <a href="/faculties" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
